n8n/audomatic-workflow.json
{
  "name": "Sightmap Website Audit",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "audit-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "audomatic-audit"
    },
    {
      "parameters": {
        "url": "http://localhost:3001/crawl",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Secret",
              "value": "={{ $env.CRAWLER_API_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "auditId",
              "value": "={{ $json.auditId }}"
            },
            {
              "name": "url",
              "value": "={{ $json.url }}"
            }
          ]
        },
        "options": {}
      },
      "id": "trigger-crawler",
      "name": "Trigger Crawler Service",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [470, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"auditId\": $json.body.auditId, \"message\": \"Crawl triggered successfully\" } }}"
      },
      "id": "response",
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [690, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Trigger Crawler Service",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Crawler Service": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-12-06T00:00:00.000Z",
  "versionId": "2"
}
